
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.content{
  &__heading{
    text-align: center;
  }
}

.employee-rating{
  border: 1px solid black;
  margin: 10px auto;
  width: 80%;
  &__header{
    font-weight: bold;
  }
  &__header-cell{
    border: 1px solid black;
  }
  &__cell{
    border: 1px solid black;

  }
}

.employee-card{
  &__link{
    margin-top: 20px;
    display: block;
  }
}